<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <title>GiaVangOnline</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container header__inner">
                <a href="index.html" class="logo">
                    <span class="logo__text">Giá Vàng </span>Online
                </a>
                <nav class="header__menu">
                    <ul class="header__menu-list">
                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link">Home</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link">Mix & Match</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link">Cẩm Nang Cưới</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link">Kiến Thức Trang Sức</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link">Tin Tức</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link header__menu-search">Search</a>
                        </li>
                    </ul>
                    
                </nav>
            </div>

        </header>
    </div>
</body>
</html>