<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <header>
    <p>Table Header <a href="#">exit</a></p>
  </header>
  <div class="container mt-5">
    <div class="table-responsive">
      <h1>Diễn đàn: Chuyện học phí và các chính sách hỗ trợ học tập</h1>
      <button class="button">Gởi Bài mới</button>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="col-text" style="text-align: center">Chủ Đề</th>
            <th class="col-number">Hồi Âm</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-text">
              <a href="#">Chuyện học phí!!!</a><br />
              <span class="author">Bài mới nhất by <a href="#">chuột con</a></span>
              <span class="date">2024-05-27 11:29</span>
            </td>
            <td class="col-number">123</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
