<!DOCTYPE html>
<html>
  <head>
    <title>Topic</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <header>
      <p>Table Header <a href="#">exit</a></p>
    </header>
    <div class="container mt-5">
      <div class="table-responsive">
        <h1>Chủ đề: Chuyện học phí</h1>
        <div class="topic-infor">
            <span> Bài mới nhất gửi </span>
            <span>, Bài mới nhất gửi</span>
            <p class="topic-infor-name">, chuột con</p>
            <p>,gửi 1 hồi âm</p>
        </div>

        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th colspan="2" class="table-time">2024-05-27 11:29</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="topic-col-left">
                <p class="topic-name">Chuột con</p>
                <span class="topic-join">2024-05-27 11:29</span>
              </td>

              <td class="topic-col-right">

                <div class="topic-col-right topic-top">
                  <p class="topic-col-right title">Chuyện học phí !</p>
                  <a href="#" class="topic-col-right reply">Trả lời</a>
                </div>

                <p class="topic-col-right content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                  consequatur cupiditate aut provident nobis vitae ut hic, ipsum
                  obcaecati aliquid sed perferendis possimus commodi repellat
                  culpa temporibus nisi at velit?
                </p>

              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th colspan="2" class="table-time">2024-05-27 11:29</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="topic-col-left">
                  <p class="topic-name">Chuột con</p>
                  <span class="topic-join">2024-05-27 11:29</span>
                </td>
  
                <td class="topic-col-right">
  
                  <div class="topic-col-right topic-top">
                    <p class="topic-col-right title">Chuyện học phí !</p>
                    <a href="#" class="topic-col-right reply">Trả lời</a>
                  </div>
  
                  <p class="topic-col-right content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                    consequatur cupiditate aut provident nobis vitae ut hic, ipsum
                    obcaecati aliquid sed perferendis possimus commodi repellat
                    culpa temporibus nisi at velit?
                  </p>
                  
                </td>
              </tr>
            </tbody>
          </table>

          <div class="list-topic">
            <a href="#">Danh sách chủ đề</a>
          </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
